<%= form_with(model: [ current_kid, @brushing_log ], local: true, html: { multipart: true }) do |form| %>
  <!-- 他のフィールド -->

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>