<h2>あたらしいhamigakiのきろくをついか</h2>

<%= form_with(model: [current_kid, BrushingLog.new], local: true) do |form| %>
  <div>
    <%= form.hidden_field :brushed_at, value: Time.current %>
  </div>

  <div>
    <%= form.submit "OK", class: "btn btn-primary" %>
  </div>
<% end %>