<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hamigaki</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <h1>hamigakiへようこそ！</h1>
  </header>

  <main>
    <section class="title">
      <h2>あたらしいhamigakiのきろくをついか</h2>
    </section>
    <%= form_with(model: [current_kid, BrushingLog.new], local: true) do |form| %>
      <div>
        <%= form.hidden_field :brushed_at, value: Time.current %>
      </div>
      <div>
        <%= form.submit "OK", class: "btn-primary" %>
      </div>
    <% end %>
  </main>

  <footer>
    <p>© 2025 hamigaki All Rights Reserved.</p>
  </footer>
</body>
</html>
