<h1>はみがきをはじめる</h1>

<ul>
  <% @kids.each do |kid| %>
    <li><%= link_to kid.nickname, kid %></li>
  <% end %>
</ul>

<%= link_to 'とうろく', new_kid_path %>

<div>
  <% if kid_signed_in? %>
    <%= link_to 'ログアウト', destroy_kid_session_path, method: :delete %>
  <% else %>
    <%= link_to 'ログイン', new_kid_session_path %>
  <% end %>
</div>