<h1>hamigakiへようこそ</h1>

<ul>
  <% if kid_signed_in? %>
    <li><%= link_to current_kid.nickname, current_kid %></li>
  <% else %>

  <% end %>
</ul>

<div>
  <% if kid_signed_in? %>
    <%= link_to 'ログアウト', destroy_kid_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'しんきとうろく', new_kid_path %>
    <%= link_to 'ログイン', new_kid_session_path %>
  <% end %>
</div>